@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, ::after, ::before{
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: roboto;
    scroll-behavior: smooth;
    height: 100vh;
    position: relative;
    color: #0b0e36;
}

.headerCon{
    padding: 2% 5%;  
    /* background-color: #f4f4f4;   */
    background-color: #eee;
    box-shadow: 0 0 80px #eee;
}
.headerCon .headerBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerCon .headerBox h1{
    /* color: #fff; */
    font-family: "Righteous", sans-serif;
    font-size: 3rem;
}
.headerCon .headerBox img{
    width: 50px;
}
.homeCon{
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #fff;
}
.homeCon .homeBox{
    display: grid;
    gap: 10px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    transition: 0.9s ease;
    /* color: #fff; */
}
.homeCon .homeBox h1{
    font-size: 2rem;
    /* color: #fff; */
}
.homeCon .homeBox h1 span{
    font-size: 3rem;
    font-family: "Righteous", sans-serif;
}
.homeCon .homeBox p{
    font-size: 14px;
    color: #fff;
}
.homeCon .homeBox .btnBox{
    padding: 2% 0;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 20px;
    color: #fff;
}
.homeCon .homeBox .btnBox p a{
    padding: 10px 30px;
    color: #fff;
    background-color: #0b0e36;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #eee;
}
.homeCon .homeBox .btnBox p:nth-of-type(2) a{
    background-color: #0b0e36;
    /* box-shadow: 0 0 10px #C22345; */
}
.reviewBox{
    padding: 5%;
}
.reviewBoxTXT{
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 0 20px #eee;
    display: grid;
    justify-content: center;
    align-items: center;

    padding: 10%;
}
/* .footerSec{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

} */
.footerCon{
    padding: 2% 5%;
    /* background-color: #f4f4f4; */
    text-align: center;
}
.footerBox .connectBox{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    color: #C22345;
}
.footerBox p a{
    color: #C22345;
    text-decoration: none;
}

/* sign up styles */
.signUpCon{
    padding: 2% 5%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.signUpCon .signUpBox{
    display: grid;
    gap: 20px;
}
.signUpCon .signUpBox h1{
    color: #2B0724;
    font-size: 1.5rem;
}
.signUpCon .signUpBox p{
    font-size: 1rem;
}
.signUpCon .signUpBox form .signUpForm{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.signUpCon .signUpBox input, .signUpCon .signUpBox select{
    background-color: #f4f4f4;
    padding: 10px;
}
.signUpCon .signUpBox input[type="submit"]{
    background-color: #C22345;
    cursor: pointer;
    color: #fff;
    grid-area: 8/1;
}
.signUpCon .signUpBox .inputBox{
    display: grid;
    gap: 3px;
}
.signUpCon .signUpBox p a{
    color: #C22345;
}
.signInCon{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;

}
.signInCon .signInBox{
    display: grid;
    gap: 20px;
}
.signInCon .signInForm{
    display: grid;
    gap: 10px;
}
.signInCon .signInForm input{
    background-color: #f4f4f4;
    padding: 10px;
}
.signInCon .signInForm input[type="submit"]{
    background-color: #C22345;
    color: #fff;
}
.signInCon .signInBox p a{
    color: #C22345;
}

/* M E D I A Q U E R Y S T Y L E S */

@media screen and (max-width: 900px) {
    .headerBox h1 span{
        font-size: 2rem;
    }
    .homeCon .homeBox h1{
        font-size: 1.5rem;
    } 
    .homeCon .homeBox h1 span{
        font-size: 2rem;
    }   
    .homeCon .homeBox .btnBox{
        gap: 10px;
    }
    .homeCon .homeBox .btnBox p a{
        padding: 5px 12px;
    }
    .reviewBox .reviewBoxTXT{
        width: 80%;
    }
}